<div id="availability">
  <% if @accommodation.available %>
    <h2 class="go">published.</h2>
    <%= link_to 'Remove my listing please.', {:action => :list, :available => false}, :class => 'list', :method => :put, :remote => true %>
  <% else %>
    <h2 class="stop">not published.</h2>
    <%= link_to 'Publish my listing please.', {:action => :list, :available => true}, :class => 'list', :method => :put, :remote => true %>
  <% end %>
</div>
