
<div id ="app" class="box-shadow">
    <h2>Your accommodation details</h2>

    <form>
      <fieldset>
	<legend>
	  <span>Your accommodation is...</span>
	</legend>
	<ol>
	  <%= render 'availability' %>
	</ol>
      </fieldset>
    </form>

    <%= render 'form' %>
</div>

