<div class="blurb">
<h1>Editing accommodation</h1>

<div id ="app" class="box-shadow">
<%= render 'form' %>
</div>

<%= link_to 'Show', @accommodation %> |
<%= link_to 'Back', accommodations_path %>
</div>
