<div class="page_intro"
	<h1>Do you have space to take in someone displaced by the flood?<br />Volunteer now to help.</h1>
</div><!-- .page_intro -->

<div class="form-top"></div>
<div id="form">

<h2>Queensland Flood Relief Billet Volunteering</h2>

<%= render 'form' %>

</div><!-- // #form -->
<div class="form-bottom"></div>
