<div class="page_intro">
  <h1>Do you have space to take in someone displaced by the flood?<br/>Volunteer now to help.</h1>
</div><!-- .page_intro -->

<div class="form-top"></div>
<div id="form">

  <h2 style="padding-left:20px;">How it works:</h2>

  <div class="text-container">
    <ul>
      <li><b>1. Post your offer of help. Your name, address and contact details remain hidden</b> and you can change or remove your offer at any time.</li>
      <li><b>2. Flood affected Australians, relief organisations, friends and relatives can search the site for housing.</b>We'll do our best to get your offers where they are needed most.</li>
      <li><b>3. You will receive emails when people are interested in taking up your offer</b>. It's up to you to call or email those people, decide if it's a good match, and make the necessary arrangements with them. Then you can remove your offer.</li>
    </ul>
  </div>
  <%= render 'form' %>

</div><!-- // #form -->
<div class="form-bottom"></div>
