<div class="blurb">
<img class="photo" src="/images/flood-photo.gif" alt="Brisbane houses under water">
<p>
Australia is experiencing massive floods that have put an area larger than Texas underwater. In the next 2 hours much of the city of Brisbane will be flooded - about 30,000 to 50,000 homes will be lost.
</p>

<p>
<%= link_to 'Search for accommodations', search_accommodations_path %>
</p>

<p><em>
Do you have space to take in someone displaced by the flood?
</em></p>
<h2>Volunteer now to help:</h2>
</div><!-- // .blurb -->

<div id ="app" class="box-shadow">

<h2>Queensland Flood Relief Billet Volunteering</h2>

<%= render 'form' %>

</div><!-- // #app -->
