/* reset */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url("/images/body-bg.gif") 0 0 repeat-x;
	width:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#page {
  width: 960px;
  margin: 0 auto;
  font:1.2em/1.2 normal Verdana, Helvetica, Arial, sans-serif;
}

a:link {
  color:#ee7921;
}

a:hover {
  color:black;
}

#content {
  margin:40px 46px;
  width:100%;
}

.blurb {
  font-weight:300;
}

.blurb img.photo {
  float:left; 
  margin: 0 80px 0 0;
}

.blurb p {
  margin:0 0 1em 0;
  padding:0.4em 0 0 0;
}

.blurb p em {
  font-weight:700;
  font-style: normal;
}

.blurb h2 {
  color:#ef8230;
  font-weight:700;
  font-size:1em;
}

#app {
  width:780px;
  clear:left; 
  margin:55px auto 0 auto;
  background:#fdede1;
  padding:0 25px;
  border:1px solid #ddd;
}

.box-shadow {  
  -moz-box-shadow: 0 0 4px 1px #dedede; 
  -webkit-box-shadow: 0 0 4px 1px #dedede; 
  box-shadow: 0 0 4px 1px #dedede; 
  overflow:hidden; /* clears */
}

/* form */
#app h2 {
  color:#a07f67;
  text-align:center;
  font-size:1.3em;
  font-weight:700;
  line-height:80px;
  height:80px;
}

#app form fieldset legend {
  width:290px;
  float:left;
  clear:left;
  padding: 26px 0 0 0;
  font-size:0.92em;
  height:90px;
}

#app form fieldset.where-do-you-live legend {
  background: transparent url("/images/icon-house.gif") -10px 50px no-repeat;
}

#app form fieldset.who-can-you-accommodate legend {
  background: transparent url("/images/icon-frog.gif") -10px 50px no-repeat;
}

#app form fieldset.your-contact-details legend {
  background: transparent url("/images/icon-contact.gif") -10px 50px no-repeat;
}

#app form fieldset.other-comments legend {
  background: transparent url("/images/icon-comment.gif") -10px 50px no-repeat;
}

#app form fieldset ol {
  width:455px;
  float:left;
  overflow:visible;
  background: url("/images/form-li-bg.gif") 0 0 repeat-x;
  padding:14px 10px;
}

#app form fieldset.buttons ol {
  background-image:none;
  width:520px;
}

#app form fieldset ol li {
  margin:0.3em 0;
  padding:0;
  overflow:hidden;
}

#app form fieldset ol li label {
  width:140px;
  float:left; 
  color:#a07f67;
  font-size:0.8em;
  height:30px;
  line-height:30px;
}

#app form fieldset ol li input {
  width:140px;
  float:left; 
  font-weight:300;
}

#app form fieldset ol li.string input,
#app form fieldset ol li.numeric input {
  background:#f7efe9;
  height:35px;
  line-height:35px;
  font-size:1.2em;
  border:1px solid #a07f67;
  width:280px;
}
#app form fieldset ol li.text textarea {
  background:#f7efe9;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  border:1px solid #a07f67;
  width:400px;
  margin-left:20px;
}

#app form fieldset ol li.numeric input {
  width:110px;
}


#app form fieldset ol li.string input:focus,
#app form fieldset ol li.numeric input:focus,
#app form fieldset ol li.text textarea:focus {
  background: #fff;
}

#app form fieldset ol li.boolean input {
  margin: 5px 20px 0 25px;
}

#app form fieldset ol li.boolean input[type=checkbox] {
  width:auto;
}

#app form li.commit {
  float:right;
}

#app form li.commit input {
  border:none;
  background:transparent;
  display:block;
  text-indent:-9999px;
  background: url("/images/submit-button.gif") 0 0 no-repeat; 
  width:154px;
  height:53px;
  overflow:hidden;
  cursor:pointer;
  float:right;
}

#app form li.commit input:hover {
background-position: -0 -53px;
}

/* search listing */
ul.listing li {
  overflow:hidden; 
}

ul.listing li {
  border:1px solid gray; 
  margin: 0 0 10px 0; 
  font-size:0.86em;
  padding:0.5em;
}

ul.listing li .address dt {
  float:left;
  clear:left;
  color: #A07F67;
}

ul.listing li.even {
  background:#fdede1;
}

ul.listing li.odd {

}

dl.details {
  clear:left;
  padding: 0 0 2em 0;
}

dl.details:last-child {
 padding:0;
}

dl.details dt {
  color: #A07F67;
}

dl.details dt,
dl.details dd { 
  float: left;
}

dl.details dt:after {
  content: ":"  
}

dl.details dt {
 padding: 0 3px 0 0; 
}

dl.details dd { 
padding: 0 1em 0 0;
}

form#suburb-search {
margin: 1em 0; 
}

form#suburb-search input {
height:35px;
padding:3px 0 0 0;
line-height:32px;
font-size:1.2em;
border:1px solid #a07f67;
width:280px;
}

.pagination {
  text-align:center;
  margin: 2em 0 1em 0;
  color: #A07F67;
}