<p><%= @accommodation.name %></p>

<p>Thank you for listing your house on the floodhousing website. As soon as someone requests information about your place, we will email you.</p>
<p>In the meantime, you can update the details of your place <%= link_to "here", short_login_url(@accommodation) %></p>