<p><%= @accommodation.name %></p>

<p>Thank you for volunteering to provide someone with a home in a time of need.</p>

<p>Your offer has been listed on the <a href="http://www.ozfloodhelp.org">www.ozfloodhelp.org website</a>.</p>

<p>In the meantime, you can update the details of your place or remove your offer using the following link:
<a href="<%= short_login_url(@accommodation)%>"><%=short_login_url(@accommodation)%></a></p>

<h1>Next steps</h1>

<p>You will receive emails from people seeking accommodation. It's up to you to call or email those people back and organise the stay!</p> 
 
<p>We have not vetted the people using our site to find housing, nor can we vouch for them.  It’s critical that you speak with them to determine whether it’s a good match and decide whether you feel comfortable housing them.</p>
 
<p>Your generosity in offering your home is commendable.  But we strongly urge you not to accept an arrangement that doesn’t feel right.  If you connect with an evacuee and you think for whatever reason it’s not a good match, tell them so.  If appropriate, you can encourage them to use our website or hotline to submit more requests.</p>
 
<h2>Questions to ask:</h2>
 
<ul>
<li>Who are they bringing?</li>
<li>How long do they hope to stay?</li>
<li>What are their expectations from you?</li>
<li>What is their background? Who are they?</li>
<li>Are they smokers? Do they have any particular allergies?</li>
<li>Do they need disabled or wheelchair access?</li>
<li>What do they think they might do when you can no longer house them?</li>
</ul>
 
<h2>Also see:</h2>
<ul>
<li><a href="http://www.ozfloodhelp.org/faq">FAQ</a></li>
<li><a href="http://www.ozfloodhelp.org/guidelines">Guidelines</a></li>
<li><a href="http://www.ozfloodhelp.org/guidelines#terms_and_conditions">Terms of use and privacy policy</a></li>
</ul>
