<div>
  <h1>FAQ</h1>


  <p>Have a questions that’s not listed below? Email 
    <script language="Javascript">
    <!--
    var username = "qldfloodfaqs";
    var hostname = "getup.org.au";
    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + username + "@" + hostname + "</a>");
    -->
    </script>
    <noscript>"qldfloodfaqs at getup dot org dot au"</noscript>
    and we’ll reply - or post an answer here - as soon as possible.</p>

  <h2>Who is behind this?</h2>
  <p>Many people have volunteered their time to make this service work.</p>
  
  <p>Website development by Thoughtworks.</p> 
  <p>ThoughtWorks is a global IT consultancy. <a href="http://www.thoughtworks.com.au">www.thoughtworks.com.au</a></p>
  
  <p>Project by <a href="http://www.GetUp.org.au">www.GetUp.org.au</a></p>
  <p>GetUp is an independent community advocacy organisation giving everyday Australians opportunities to get involved and hold politicians accountable on important issues. <a href="http://www.GetUp.org.au">www.GetUp.org.au</a></p>
  <p>CallCentre by Financial Services Union (FSU) Sydney. <a href="http://www.fsunion.org.au">www.fsunion.org.au</a></p>

  <h2>What if I can’t find help here?</h2> 
  <p>You may want to look on one of the following sites: 
    <ul>
    <li><a href="http://www.qldfloods.org/open-beds">www.qldfloods.org/open-beds</a></li>
    <li><a href="http://www.flatmates.com.au/floods">www.flatmates.com.au/floods</a></li>
    </ul>
  </p>
  
  <h2>Who will be able to see information i post on this site?</h2>
  <p>See our <a href="/guidelines#terms_and_conditions">privacy policy</a>
  
</div>
