<div class="form-top"></div>
<div id="form">
<div class="text-container">
<h1>Guidelines</h1>

<h2>Guidelines for Hosts</h2>


<h2>Guidelines</h2>

<p>Don’t discriminate: This is a time to help those in need.  You may not post offers which specify preference for people of a certain race, religion, age, ethnicity or sexual orientation.</p>

<p>Only list your own housing/accommodation: Please do not list any housing/accommodation that you do not actually own, or that you are not in position to provide.</p>

<p>Offers should be free: You cannot charge for any of the housing/accommodation offered.</p>
<p>Be smart: We cannot make any guarantees about the people who contact you.  They have simply seen our website or contact number.  Please use common sense and caution when deciding who you offer your housing/accommodation to.  You have complete control over who you provide your housing/accommodation to and the basis on which that housing/accommodation are provided.</p>

<p>Your generosity in offering your home is commendable.  But we strongly urge you not to accept an arrangement that doesn’t feel right.  If you connect with an evacuee and you think for whatever reason it’s not a good match, tell them so.  If appropriate, you can encourage them to use our website or hotline to submit more requests.</p>
<br>
<h3>Questions to ask:</h3>
<ul>
<li>Who are they bringing?</li>
<li>How long do they hope to stay?</li>
<li>What are their expectations from you?</li>
<li>What is their background? Who are they?</li>
<li>Are they smokers? Do they have any particular allergies?</li>
<li>Do they need disabled or wheelchair access?</li>
<li>What do they think they might do when you can no longer house them?</li>
</ul>

<h2>Guidelines for Visitors</h2>

<p>We have not vetted the people using our site to volunteer housing, nor can we vouch for them.  It’s critical that you speak with them to determine whether it’s a good match and decide whether you feel comfortable staying with them.</p>

<p>It’s important that you talk to any potential hosts before making an arrangement to stay with them. Be very clear about your expectations, and ask them about theirs. </p>

<h3>Questions to ask:</h3>
<ul>
<li>How long are they comfortable with you staying?</li>
<li>What are their expectations from you?</li>
<li>What kind of household help can you provide?</li>
<li>What is their background? Who are they?</li>
<li>Are they smokers? Do they have any particular allergies?</li>
</ul>

<a name="terms_and_conditions"></a><h1 style="margin-top:30px;">Terms of Use and Privacy Policy</h1>

<h2>Terms of Use</h2>

  <p>Welcome to www.OzFloodHelp.org (<strong>OzFloodHelp</strong>).&nbsp; OzFloodHelp is provided to you by GetUp! (described as <strong>we/us/our</strong>) and acts as an online venue for the community to assist the flood victims in Queensland and northern New South Wales by providing goods and/or services. &nbsp;By accessing OzFloodHelp or by using the services available on OzFloodHelp (<strong>Services</strong>), you confirm you are over 18 years old and you agree to the following terms and conditions (<strong>Terms</strong>).</p>
<p><strong>Your obligations</strong><br />
  You agree that you will not:</p>
<p>(a) violate any laws or regulations;</p>
<p>(b)
post any content that infringes or violates another party’s rights, including privacy rights and intellectual property rights such as copyright and trade marks;</p>
<p>(c)
engage in false, misleading or deceptive conduct or involve counterfeit or stolen items;</p>
<p>(d)
  pretend to be anyone, or any entity, you are not;</p>
<p>(e)
post or act in a manner that is defamatory, threatening, abusive, obscene, racial, discriminatory, offensive or indecent;</p>
<p>(f)
distribute spam, chain letters, pyramid schemes, viruses or any other technologies that may harm OzFloodHelp or the interests or property of OzFloodHelp users; </p>
<p>(g)
impose an unreasonable load on our infrastructure or interfere with the proper working of OzFloodHelp; </p>
<p>(h)
reproduce, copy, modify, sell, distribute or exploit for a commercial purpose: </p>
<blockquote>
  <p>(i) OzFloodHelp or parts of OzFloodHelp, or reverse engineer or otherwise attempt to discover any source code on OzFloodHelp without our consent; or<br />
    (ii)
    another person's content without their consent;</p>
</blockquote>
<p>(i) use any tags, codes, cookies or other data tracking devices to collect content for any purpose without our written consent; or</p>
<p>(j) harvest or otherwise collect information about others, including email addresses, without their consent.<br />
</p>
<blockquote>
  <p>&nbsp;</p></blockquote>
<p>You are solely responsible for all information that you submit to OzFloodHelp and any consequences that may result from your post. &nbsp;We reserve the right (but not the obligation) at our discretion to refuse or delete content that we believe is inappropriate or that breach these Terms.<br />
Whether or not we decide to take the steps above, we do not accept any liability for monitoring OzFloodHelp or for any unauthorised or unlawful content on OzFloodHelp or use of OzFloodHelp by users. </p>
<p><strong>Our obligations</strong><br />
  We do not review or amend users’ postings and are not involved in the interactions and agreements between users. Accordingly, we do not guarantee the accuracy of postings or user communications or the quality, safety, or legality of what is offered.<br />
We will provide OzFloodHelp for your use.&nbsp; While we will use reasonable efforts to maintain an uninterrupted service, we cannot guarantee continuous, error-free or secure access to OzFloodHelp or that defects in OzFloodHelp will be corrected. &nbsp;</p>
<p><strong>Fees </strong><br />
Use of OzFloodHelp is free, and all Services should be free.&nbsp; Any costs, expenses or charges incurred in connection with the use of OzFloodHelp or the Services will be the user’s sole responsibility. </p>
<p><strong>Content</strong><br />
  By posting any content on OzFloodHelp, you represent that you have the right to use the intellectual property in that content, and you grant us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to use the intellectual property in that content. <br />
  As we are not responsible for the content on OzFloodHelp, OzFloodHelp may contain technical inaccuracies and typographical errors.&nbsp; Although the information on OzFloodHelp may be updated from time to time, it may at times be out of date.&nbsp; We are not responsible for keeping the content up to date.<br />
  OzFloodHelp may contain links to third party sites.&nbsp; Such links are not under our control and we are not responsible for the content of such third party sites.<br />
We do not endorse, guarantee or legitimise the products, items, third party sites or any other content available on OzFloodHelp or through the Services.</p>
<p><strong>Liability</strong><br />
  OzFloodHelp is provided on an “as is” basis, and without any warranties, representations or conditions, express or implied, in respect of merchantability or fitness for a particular purpose.&nbsp; <br />
Under no circumstances are we liable or responsible to you for:</p>
<p>(a) any direct loss, claims or damages (including negligence and breach of contract); or</p>
<p>(b) any special, punitive, indirect or consequential loss including loss of profit or revenue, loss of data, loss of opportunities, loss of goodwill or reputation, or liabilities arising from third parties,</p>
<p>(even if we have been advised of the possibility of your loss) resulting from any aspect of your use, or inability to use, OzFloodHelp or the Services.<br />
  You indemnify us, our officers, directors, employees, agents, affiliates and representatives against any claim, loss or damage incurred by you or any third party arising directly or indirectly in connection with your use of OzFloodHelp and the Services.</p>
<p><strong>Privacy</strong><br />
  We treat your personal information as private and confidential and will contact you for the purpose of flood relief assistance only.&nbsp; Please refer to our privacy policy further details.&nbsp; Your use of OzFloodHelp or the Services signifies acknowledgement of, and agreement to, our Privacy Policy.</p>
<p><strong>General</strong> <br />
  Nothing in these Terms will be taken as giving rise to a relationship of employment, agency or partnership.<br />
  These Terms contain the entire agreement between you and GetUp! and supersedes all prior communications. <br />
  If any term or provision of these Terms are held by a court to be illegal, invalid or unenforceable, that term or provision will be severed from these Terms and the remaining terms and conditions will be unaffected.</p>
<p>These Terms are governed and construed in accordance with the laws of New South Wales.&nbsp; The parties submit to the exclusive jurisdiction of the courts of New South Wales.<br />
  We may amend these Terms from time to time, at our sole discretion.</p>


<h2>Privacy Policy</h2>
<p>
This Privacy Policy explains how your personal information will be treated when you use www.OzFloodHelp.org or when you contact us in relation to the OzFloodHelp campaign.  By providing your personal information to us, you agree to the collection, use and disclosure of that information in accordance with this Privacy Policy.  If you do not consent to certain uses of your personal information, we may not be able to provide you with our full services.
</p>

<p>What information we collect and its use</p>

<p>GetUp! will collect your personal information including your name, email address, address and phone number for the purpose of the OzFloodHelp campaign.  We will use your personal information for the purpose of the OzFloodHelp campaign and the operation of www.OzFloodHelp.org, including:</p>
<ul>
    <li>to allow people providing flood relief assistance to contact you;</li>
<li>to other third parties assisting with the OzFloodHelp campaign;</li>
<li>to contact you regarding the housing/accommodation provided by you;</li>
<li>to respond to legal requirements or to enforce our Terms of Use.</li>
</ul><br>

<h3>Information security</h3>

<p>GetUp! takes reasonable security measures to protect against unauthorised access to or unauthorised alteration, disclosure or destruction of your personal information.  These include internal reviews of our data collection, storage and processing practices and security measures, as well as physical security measures to guard against unauthorised access to systems where we store personal data.  While we will do our best, we can’t be held responsible for events arising from unauthorised access to your personal information.</p>
<h3>We won't sell, trade or exchange your information without your permission</h3>
<p>Other than disclosure to third party organisations assisting with the OzFloodHelp campaign or as required by law, GetUp! will not provide your personal information to any other organisations.
When we share information with these organisations, we do so in accordance with this Privacy Policy.  To the extent that these organisations gain access to your personal information, they are covered by strict privacy rules that prevent them from keeping this information or using this information for any other purpose.  You acknowledge that GetUp! will not accept responsibility for your personal information once it is passed to these third party organisations.</p>

<h3>Receipt of further information</h3>
<p>You may receive our latest news and updates in relation to the OzFloodHelp campaign.  You acknowledge that you can choose not to receive such information at any time by contacting us at privacy@getup.org.au.  You agree that this acknowledgement waives any requirement for us to include this unsubscribe message in every communication you receive from us.</p>

<h3>User trends</h3>

<p>GetUp! uses cookies (which are pieces of information that a website transfers to your computer’s hard disk for record keeping purposes) to collect information about how Australians are using this website, for example the number of users, the source of traffic to this website, and how long people stay on the website.  We analyse these trends to improve this website.  If you do not wish to receive any cookies you may set your browser to refuse cookies.  However, this may mean you will not be able to take full advantage of the website.</p>

<h3>Changes to this policy</h3>
<p>Please note that this Privacy Policy may change from time to time.  We will not reduce your rights under this Privacy Policy without your consent.  Most changes will be minor, but nonetheless we will post any Privacy Policy changes on this website and, if the changes are significant, we will provide a more prominent notice.</p>

<h3>For more information</h3>
<p>If at any time you want to know what personal information we hold about you, or you would like more information on privacy at GetUp!, contact us by email at 
  <script language="Javascript">
  <!--
  var username = "privacy";
  var hostname = "getup.org.au";
  document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + username + "@" + hostname + "</a>");
  -->
  </script>
  <noscript>"qldfloodfaqs at getup dot org dot au"</noscript>  
  .</p>
  
  </div><!--.text-container-->
</div><!--#form-->
<div class="form-bottom"></div>

  
  


