
<div class="page_intro">
    <img src="images/flood-photo.png" class="body_image" alt="flood-photo" width="401" height="260" />

    <p>Australia is experiencing massive floods that have put an area larger than Texas underwater. In the next 2 hours much of the city of Brisbane will be flooded - about 30,000 to 50,000 homes will be lost.</p>

    <p>Call our hotline 1300 998 603</p>
</div>

<div class="home_box">
    <h2>Find a place to stay</h2>

    <div class="text">
        <p>Nullam sed ante ac ipsum tempor ornare eget consectetur justo. Integer faucibus augue eu elit aliquam bibendum. Nunc sollicitudin mollis est, ut faucibus odio luctus quis. Sed commodo ligula at dolor placerat commodo. Quisque viverra semper nulla, et tempor ante convallis a.</p>
    </div><%= link_to "Search for Accomodation", search_accommodations_path, :class => "button" %>
</div>

<div class="home_box">
    <h2>Volunteer a place to stay</h2>

    <div class="text">
        <p>Nullam sed ante ac ipsum tempor ornare eget consectetur justo. Integer faucibus augue eu elit aliquam bibendum. Nunc sollicitudin mollis est, ut faucibus odio luctus quis. Sed commodo ligula at dolor placerat commodo. Quisque viverra semper nulla, et tempor ante convallis a.</p>
    </div><%= link_to "Offer Your Help", new_accommodation_path, :class => "button" %>
</div>

<div class="home_box">
    <h2>How it works</h2>

    <p>Nullam sed ante ac ipsum tempor ornare eget consectetur justo. Integer faucibus augue eu elit aliquam bibendum. Nunc sollicitudin mollis est, ut faucibus odio luctus quis. Sed commodo ligula at dolor placerat commodo. Quisque viverra semper nulla, et tempor ante convallis a.</p>

    <p><a href="#" title="Find out more">Find out more</a></p>

    <ul>
        <li><a href="#" title="FAQ">FAQ</a></li>

        <li><a href="#" tite="Guidlines">Guidlines</a></li>

        <li><a href="#" title="Other link">Blah</a></li>
    </ul>
</div>