<div class="form-top"></div>
<div id="form">
<div class="text-container"><h1><strong>Thank You!</strong></h1>

<p><%= flash[:alert] %></p>
<p>Your offer has been listed on the site.</p>

<p>You will receive emails from people seeking accommodation. It's up to you to call or email those people back and organise the stay!</p>

<p><strong>
    Note: you should have received an email from us. Please check your
    spam folder if it doesn't arrive.
</strong></p>

<h2>Important Information</h1>
	
<p>We have not vetted the people using our site to find housing, nor can we vouch for them.  It’s critical that you speak with them to determine whether it’s a good match and decide whether you feel comfortable housing them.</p>

<p>Your generosity in offering your home is commendable.  But we strongly urge you not to accept an arrangement that doesn’t feel right.  If you connect with an evacuee and you think for whatever reason it’s not a good match, tell them so.  If appropriate, you can encourage them to use our website or hotline to submit more requests.</p>

<b>Questions to ask:</b>

<ul>
<li>Who are they bringing?</li>
<li>How long do they hope to stay?</li>
<li>What are their expectations from you?</li>
<li>What is their background? Who are they?</li>
<li>Are they smokers? Do they have any particular allergies?</li>
<li>Do they need disabled or wheelchair access?</li>
<li>What do they think they might do when you can no longer house them?</li>
</ul>

<h2>Also see:</h2>
<ul>
	<li><a href="/guidelines" target="_blank">Guidelines for hosts</a></li>
  <li><a href="/faq" target="_blank" >Frequently asked questions</a></li>

	<li><a href="/guidelines#terms_and_conditions" target="_blank">Our terms of use and privacy policy</a></li>
</ul>

  </div><!--.text-container-->
</div><!--#form-->
<div class="form-bottom"></div>
